{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form method="POST" action="{{ action }}">
            Pregunta: 
            <input type="text" name="question"><br>
            Resposta correcte:<br>
            <input type="text" name="correct_answer"><br>
            Altres respostes:<br>
            <input type="text" name="first_answer"><br>
            <input type="text" name="second_answer"><br>
            <input type="text" name="third_answer"><br>

            <input type="submit" value="Guardar">
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #4CAF50; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    hr { color: #4CAF50; opacity: 0.5; margin: 2em 0em; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    button { border: none; color: white; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; }
    button.add { background-color: #4CAF50; }
    button.delete { background-color: #f44336; }
    button.update { background-color: #555555; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #header { display:flex; flex-direction: row; justify-content: space-between; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
