{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="header">
                <h2>Totes les preguntes</h2>
                <a href="/add"><button class="add">Afegir pregunta</button></a>
            </div>
            <br>
            {% for question in questions %}
                <a href="/delete/{{ question.id }}" style="float:right"><button class="delete">Esborrar</button></a>
                <!--<a href="/update/{{ question.id }}" style="float:right"><button class="update">Editar</button></a>-->
                <h5 id="{{ question.id }}">#{{ question.id }} - {{ question.text }}</h5>
                <ul>
                    {% for answer in question.respostes %}
                    <li id="{{ answer.id }}">{{ answer.text }}</li>
                    {%endfor %}
                </ul>
                <hr>
            {% endfor %}
        </div>
    </div>

    <script>
        window.onload = function(){
            $("li").click(function(){
                if(!$(this).parent().hasClass("answered")){
                    let answerId = this.id;
                    let li = $(this);
                    fetch("http://localhost:8001/answer/" + answerId).then(function(res){
                        return res.json();
                    }).then(function(data){
                        console.log(data);
                        if(data.is_correct){
                            li.addClass("correct");
                        }
                        else{
                            li.addClass("incorrect");
                        }
                    }).catch(function(e){
                        console.log(e);
                    })
                    $(this).parent().addClass("answered");
                }
                else{
                    alert("Ja has respost aquesta pregunta");
                }
                
            });
        }
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #4CAF50; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    hr { color: #4CAF50; opacity: 0.5; margin: 2em 0em; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    ul { list-style-type: none; }
    button { border: none; color: white; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; }
    button.add { background-color: #4CAF50; }
    button.delete { background-color: #f44336; }
    button.update { background-color: #555555; }
    .correct { color: green; }
    .correct::after { content: " Resposta correcte!"; }
    .incorrect { color: red; }
    .incorrect::after { content: " Resposta incorrecte..."; }
    .answered { opacity: 0.5; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #header { display:flex; flex-direction: row; justify-content: space-between; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
